
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Aviyank Aryan</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Untitled design (3).png' %}" >
					<hr>
					<h4>Hi I'm Aviyank Aryan!</h4>
					<p>I love programming and ui-ux design and I am an entrepreneurship enthusiast.</p>
				</div> 
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About me</h4>
					<hr>
					<p>I am a fullstack developer(django) and a ui ux designer.</p>

					<p>Currrently I am working on my own blog website and ui-ux for an E-commerce website.</p>

					<p>I am a student and love talking about new inventions and entrepreneurship.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer and a ui-ux Designer</h5>
					<hr>
					<p>It's been a great experince workning on small project of my own.</p>
					<p>Built few websites and designed them whiich helped me furter sharpen my skills in django and figma.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript and ui-ux(figma) ;)</p>
					<p>PS: Working on webscraping, sql and mechine learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How do I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My goals</h5>
				<hr>
				<p>Build few more projects vai django and still work on figma and along with those work on js and mechine learning.</p>
				<p>Aside from building small projects I would love to learn more about entrepreneurship specially in tech field.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>